*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Music files
public/music
public/waveforms

# YARD artifacts
.yardoc
_yardoc
doc/

Gemfile.lock
todo
coffee/*.js