* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box}

.clear {clear:both}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

i {-webkit-font-smoothing: antialiased} /* stands for icon not italic */

body {
  font: 400 13px/21px Open Sans;
  border-top: 1px solid #252525;
  overflow: hidden;
  height: 100%;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

header {
  height: 103px; /* 55 + 48 */
}

#toolbar {
  padding-right: 10px;
  line-height: 53px; /* - border */
  height: 55px;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #252525;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d4d4d4), color-stop(1, #a8a8a8));
  background-image: -o-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: -moz-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: -webkit-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);

  box-shadow: 0 1px 3px rgba(0,0,0, .3);
  position: relative;
  z-index: 1;

  /*
  box-shadow: 0 1px 3px rgba(0,0,0, .3), inset 0 15px 50px -30px rgba(0,0,0,.4), inset 0 -15px 50px -20px rgba(0,0,0,.4);
  */
}

#toolbar i {
  font-size: 14px;
  color: #666;
  text-shadow: 0 -1px 0 #000, 0 1px 0 #fff;
}

footer.statusbar {
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* fake the split */
#side-status {
  /* TODO merge with sidebar styles */
  float: left;
  width: 210px;
  height: 100%;
  background-color: #e3eafa;
  border-right: 1px solid #a4b0ca;
  text-shadow: 0 1px 0 #fff;
  font-weight: 600;
  color: #515765;

  padding-top: 15px;

  border-top: 1px solid #a5b1c9;
}
#main-status {
  border-top: 1px solid #d1d5e1;
  margin-left: 210px;
  color: #959db0;
   font-weight: 600;
}

#side-status, #main-status {
  padding: 0 15px;
}

#audio-container {
  padding: 0 10px;
  height: 48px;
  background-color: #383b44;

  /* background: linear-gradient(rgb(74, 76, 77), rgb(43, 45, 45)) repeat scroll 0% 0% transparent; */
}

section.main {
  top: 104px;
  bottom: 48px;
  width: 100%;
  position: absolute;
}

/* searchbox */
#search input {
  width: 200px;
  font-size: 14px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #8e8e8e;

  padding-left: 24px;
  -webkit-appearance: none;
  box-shadow: inset 0px 1px 3px -1px rgba(0,0,0,.4);
}

#search {
  float: right;
  padding-left: 25px;
  border-left: 1px solid #d5d5d5;
  position: relative;
}

#search i {
  position: absolute;
  top: 19px;
  left: 34px;
  color: #808080;
  text-shadow: none;
}

/* Volume bar styles */
#volume {
  width: 152px;
  float: left;
  border-right: 1px solid #a5a5a5;
  text-align: center;
}

.volume-bar {
  display: inline-block;
  position: relative;

  border: 1px solid #7c7c7c;
  border-top-color: #6b6b6b;
  border-bottom-color: #9d9d9d;

  background-image: -moz-linear-gradient(bottom, #ababab, #8d8d8d);
  background-image: -webkit-linear-gradient(bottom, #ababab, #8d8d8d);
  width: 80px;
  height: 10px;
  border-radius: 5px;
  margin: 0 8px;
}

.volume-bar-slider {
  border: 1px solid #858585;

  background-image: -moz-linear-gradient(bottom, #bebebe, #fff);
  background-image: -webkit-linear-gradient(bottom, #bebebe, #fff);
  width: 50px;
  height: 10px;
  border-radius: 5px;

  margin: -1px;
}

.volume-bar-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url('../img/handle.png') no-repeat 50% 50%; /* image stolen from http://www.premiumpixels.com/freebies/slider-interface-metal-handle-psd/ */
  color: #1C94C4;
  outline: none;
  top: -9px;
  left: 0;
  margin-left: -12px; /* half of icon width */
}

#controls {
  margin-left: 12px;
  width: 80px;
  float: left;
  text-align: center;
}
#controls i {
  margin: 0 12px;
}

#player-buttons {
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #a5a5a5;
  position: relative;
  text-align: center;

  margin-left: 152px;
  margin-right: 226px; /* HAXX search width */
}

#player-buttons button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0;
  margin: 0 4px;

  color: #666;
  text-shadow: 0 -1px 0 #222, 0 1px 0 #fff;
  background: -moz-linear-gradient(bottom, #aaa 0%, #ccc 40%, #eee 100%);
  background: -webkit-linear-gradient(bottom, #aaa 0%, #ccc 40%, #eee 100%);
  background: linear-gradient(bottom, #aaa 0%, #ccc 40%, #eee 100%);
  border: 1px solid #888;

  box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
  box-shadow: 0 1px 0 rgba(255,255,255,.35);
}

#player-buttons button.playpause {
  width: 40px;
  height: 40px;
}
#player-buttons button.playpause i {
  font-size: 15px;
}

/*  HAXX TODO center i inside button! look into redbird code */
/* icons aren't entirely centered, pixel perfect shift them! */
#player-buttons button.back i {
  font-size: 11px;
  margin-left: -4px;
}
#player-buttons button.next i {
  font-size: 11px;
  margin-right: -2px;
}

#player-buttons button:hover {
  color: #888;
}

#player-buttons button:active {
  background: #bbb;
}

/* sidebar */
.sidebar {
  float: left;
  width: 210px;
  height: 100%;
  background-color: #e3eafa;
  border-right: 1px solid #a4b0ca;
  text-shadow: 0 1px 0 #fff;
  font-weight: 600;
  color: #515765;

  padding-top: 15px;
  position: relative; /* for now-playing */
}

.sidebar h1 {
  margin-left: 15px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #828a9f;
}

.sidebar h1:nth-child(n+2) { /* don't apply to first item */
  margin-top: 30px;
}

.sidebar ul a {
  color: inherit;
  text-decoration: none;
}

.sidebar ul li {
  display: block;

  padding: 4px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  -webkit-transition:color 0.1s ease-in;
  -moz-transition:color 0.1s ease-in;
  -o-transition:color 0.1s ease-in;
  transition:color 0.1s ease-in;
}

.sidebar ul a:hover, .sidebar ul a:focus {color: #458afb} /* needs to be applied to a in order for focus to work*/

.sidebar ul li.selected {
 background-color: #478afb;
 color: #fff;
 text-shadow: 0 1px 0 #376df1;
 border-color: #2674f0;
}

.sidebar ul li i {font-size: 14px; margin-right: 10px;}

.sidebar ul li h1 {font-size: 14px; display: inline-block;}



#now-playing {
  position: absolute;
  bottom: 0; left: 0;
}

.sidebar #now-playing .title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  background-color: rgb(212, 218, 233);
  border-top: 1px solid rgb(186, 197, 219);
}

#now-playing .cover img {
  display: block;
  max-width: 100%;
  /* above doesn't work in moz, so.. BAT HAXX! */ width: 210px; min-height: 200px;
  background-color: #333;
}
#now-playing .cover {position: relative;}
#now-playing .cover:before {
    content: ' ';
    box-shadow: inset 0 0 10px #000;
    width: 100%;
    height: 100%;
    position: absolute;
}
/* table */
#contents {
  height: 100%;
  overflow: auto;
}

#table {
  background-color: #fff;
  width: 100%;
  cursor: default;
}

#table th {
  color: #34313a;
  font-weight: 600;
  text-shadow: 0 1px 0 #f9f9f9;

  /*border-top: 1px solid #c8c4d2;*/
  border-bottom: 1px solid #c8c4d2;

  background-image: linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -o-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -moz-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -webkit-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, lightGrey), color-stop(1,#F3F3F3))
}

#table tr:nth-of-type(odd) {
  background-color: hsl(261, 9%, 93%);
}

#table td, #table th {
  text-align: left;
  padding: 2px; /* 3 */
}

#table tr.active {
  background-color: #478dff;
  color: #fff;
  border-bottom-color: #2674f0;
  border-top-color: #2674f0;
  text-shadow: 0px 0px 1px rgba(0,0,0,.5); /* this should be left at least on track_num:after (icon) */
}

#table .cover {
  width: 150px;
  background-color: #fff;
}

#table .cover img {
  height: 150px;
  margin: 3px 10px 0;
  vertical-align: top; /* prevent the cell collapse */
  border: 1px solid #111;
}

#table .track_num  {
  text-align: right;
  width: 12px;
  padding: 0 20px 0 15px;
}

#table .track_num:after { /* the play/pause icon */
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  left: 4px;
  width: 0; /* fixes the fuckup of the padding */
  -webkit-font-smoothing: antialiased;
}
  #table .playing .track_num:after {content: "\f028"}
  #table .paused .track_num:after {content: "\f026"}

#table .time { /* td and th */
  text-align: right;
  padding-right: 15px;
}

/* default button style */
button {
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 #72b9eb;
  color: #fff;
  font: normal 11px Open Sans;
  line-height: 1;
  padding: 2px 5px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 100px;
  background-clip: padding-box;
}

button:hover {
  background-color: #3e9ee5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
  background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  background-clip: padding-box;
}

button:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 rgba(255,255,255, 0.1);
  text-shadow: 0 -1px 1px #2361a4;
  background-clip: padding-box;
}

button::-moz-focus-inner {border: 0; padding: 0}

/* default input styles */
input[type="text"] {
  margin-top: 0;
  padding: 3px;
  height: 24px;
  border: 1px solid hsl(0, 0%, 87%);
  border-top: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 1px 0 hsl(0, 0%, 95%), inset 0 1px 1px hsl(0, 0%, 88%);
  background-color: #fff;
}

input[type="text"][disabled] {
  background-color: #F5F5F5;
  color: #999;
  cursor: not-allowed;
}

input[type="text"]:focus {
  border: 1px solid hsl(203, 83%, 64%);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, .05),0 0 3px hsla(206, 80%, 62%, .6);
}

label, legend {
  font-weight: 700;
  font-size: 12px;
}

/* modal */
#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 100 !important;
  background-color: #34313a;
}

#modal {
  width: 50%;
  max-width: 680px;
  padding: 15px;
  z-index: 101 !important;
  background-color: #fff;
  border: 1px solid #666;
  box-shadow: 0 0px 15px rgba(0,0,0,0.5);
  overflow-y: auto;
}

#modal h1 {
  float: left;
  padding-bottom: 15px;
  font-size: 26px;
  font-weight: 200;
  color: #458afb;
}

#modal .close {
  float: right;
  font-size: 170%;
}

#modal .close:hover {
  color: #52a8e8;
  cursor: pointer;
}

/* mess */
#edit input[type="text"] {
  margin-bottom: 2px;
  width: 100%;
}

#edit {position:relative}

#large-fields {
  margin-right: 110px;
  float: left;
}
#small-fields {
  width: 90px;
  float: right;
  right: 0;
  position: absolute;
}

#id3_bpm, #id3_year, #small-fields fieldset {text-align: center}

#id3_track, #id3_total_tracks, #id3_disc, #id3_total_discs {
  text-align: center;
  width: 34px !important;
}
#id3_track, #id3_disc {float: left}
#id3_total_tracks, #id3_total_discs {float: right}

#edit .save {
  float: right;
  font-size: 12px;
  margin-top: 50px;
}

/* multibox mess */
.table {display: table; width: 100%;}
.row {display: table-row}
.cell {display: table-cell}
.cell:last-child {width: 100px; padding-left: 10px; text-align: center;}
#edit input[type="checkbox"] {
  display: table-cell;
  margin:0;
  margin-right: -4px;
  position: relative;
  top: 24px;
}


/****************************
    PAGES
****************************/

/* ---------> player page */
#contents.player {
  background-color: #000;
  color: #fff;
}

#contents.player #data {
  display: table;
  margin: 0 auto;
  text-align: right;
  height: 100%;
}

#contents.player h1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
#contents.player h2 {color: #999}
#contents.player span {color: #fff}

#contents.player #cover, #contents.player #info {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
#contents.player img {
  /*border-radius: 5px; ? yes/no? */
  max-width: 500px;
}

/* mimics the waveform */
#waveform {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px;
  position: relative;
  background-image: -webkit-linear-gradient(top, #444, #111);
  z-index: 1;
}
#wave-loaded, #wave-played, #wave-handle {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
#wave-loaded {background-color: #111;}
#wave-played {background-color: #458afb;}
#wave-handle {
  width: 1px;
  background-color: hsl(108, 87%, 59%);
}
#waveform img {width: 100%}

/* Mobile version */
@media only screen and (max-width: 860px) {
  .sidebar {width: 100%;}
  .sidebar a li {float: left; font-size: 11px;}
  .sidebar h1 {display: none}

  #player-buttons {margin-right: 0; border-right: none}

  #contents {
    margin-left: 0;
    position: absolute;
    top: 60px;
    bottom: 0px;
    width: 100%;
  }
  .edit-button, #search {display: none}
  #edit input[type="checkbox"] {
    margin-right: 0;
  }
  /* player page */
  #contents.player #data {
    margin-top: 20px;
  }
  #contents.player #data, #contents.player #cover, #contents.player #info {
    display: block;
  }
  #contents.player #info {
    padding-right: 20px;
  }
  #contents.player img {
    max-width: 100%;
  }
}
