* {box-sizing: border-box; -moz-box-sizing: border-box; ; -webkit-box-sizing: border-box}

.clear {clear:both}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

i {-webkit-font-smoothing: antialiased} /* stands for icon not italic */

body {overflow: hidden}

#container {
  font: 400 13px/21px Open Sans;
  border-top: 1px solid #252525;
  overflow: hidden;
  height: 100%;
}

#header {
  height: 103px; /* 55 + 48 */
}

#toolbar {
  padding: 0 10px;
  line-height: 53px; /* - border */
  height: 55px;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #252525;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d4d4d4), color-stop(1, #a8a8a8));
  background-image: -o-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: -moz-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: -ms-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: -webkit-linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);
  background-image: linear-gradient(top, #d4d4d4 0%, #a8a8a8 100%);

  box-shadow: 0 1px 3px rgba(0,0,0, .3);
  position: relative;
  z-index: 1;
}

#audio-container {
  height: 48px;
  background-color: #383b44;
}

#body {
  top: 104px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

/* searchbox */
#search input {
  width: 200px;
  font-size: 14px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #8e8e8e;

  padding-left: 24px;
  -webkit-appearance: none;
  box-shadow: inset 0px 1px 3px -1px rgba(0,0,0,.4);

}
#search {
  float: right;
  padding-left: 25px;
  border-left: 1px solid #d5d5d5;
  position: relative;
}

#search i {
  position: absolute;
  top: 19px;
  left: 34px;
  color: #808080;
}

#player-buttons {
  float: right;
  border-right: 1px solid #a5a5a5;
}

/* sidebar */
#menu {
  float: left;
  width: 210px;
  height: 100%;
  background-color: #e3eafa;
  border-right: 1px solid #a4b0ca;
  text-shadow: 0 1px 0 #fff;
  font-weight: 600;
  color: #515765;

  padding-top: 15px;
}

#menu h1 {
  margin-left: 15px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #828a9f;
}

#menu h1:nth-child(n+2) { /* don't apply to first item */
  margin-top: 30px;
}

#menu ul a {
  color: inherit;
  text-decoration: none;
}

#menu ul li {
  display: block;

  padding: 4px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  -webkit-transition:color 0.1s ease-in;
  -moz-transition:color 0.1s ease-in;
  -o-transition:color 0.1s ease-in;
  transition:color 0.1s ease-in;
}

#menu ul a:hover, #menu ul a:focus {color: #458afb} /* needs to be applied to a in order for focus to work*/

#menu ul li.selected {
 background-color: #478afb;
 color: #fff;
 text-shadow: 0 1px 0 #376df1;
 border-color: #2674f0;
}

#menu ul li i {font-size: 14px; margin-right: 10px;}

#menu ul li h1 {font-size: 14px; display: inline-block;}


/* table */
#contents {
  margin-left: 120px;
  height: 100%;
  overflow: auto;
}

#table {
  background-color: #fff;
  width: 100%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#table th {
  color: #34313a;
  font-weight: 600;
  text-shadow: 0 1px 0 #f9f9f9;

  background-image: linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -o-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -moz-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -webkit-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -ms-linear-gradient(bottom, lightGrey, #F3F3F3);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, lightGrey), color-stop(1,#F3F3F3))
}

#table tr:nth-of-type(odd) {
  background-color: hsl(261, 9%, 93%);
}

#table td, #table th {
  text-align: left;
  border-top: 1px solid #c8c4d2;
  border-bottom: 1px solid #c8c4d2;
  padding: 2px; /* 3 */
}

#table tr.active {
  background-color: #478dff;
  color: #fff;
  border-bottom-color: #2674f0;
  border-top-color: #2674f0;
  text-shadow: 0px 0px 1px rgba(0,0,0,.5); /* this should be left at least on track_num:after (icon) */
}

#table tr.active td {
  border-bottom-color: #2674f0;
  border-top-color: #2674f0;
}

#table .cover {
  width: 150px;
  background-color: #fff;
}

#table .cover img {
  height: 150px;
  margin: 3px 10px 0;
  vertical-align: top; /* prevent the cell collapse */
  border: 1px solid #111;
}

#table .active .cover { /* ignore the cover border */
  border-bottom-color: #c8c4d2;
  border-top-color: #c8c4d2;
}

#table .track_num  {
  text-align: right;
  width: 12px;
  padding: 0 20px 0 15px;
}

#table .track_num:after { /* the play/pause icon */
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  left: 4px;
  width: 0; /* fixes the fuckup of the padding */
  -webkit-font-smoothing: antialiased;
}
  #table .playing .track_num:after {content: "\f028"}
  #table .paused .track_num:after {content: "\f026"}

#table .time { /* td and th */
  text-align: right;
  padding-right: 15px;
}

/* default button style */
button {
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 #72b9eb;
  color: #fff;
  font: normal 11px Open Sans;
  line-height: 1;
  padding: 2px 5px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 100px;
  background-clip: padding-box;
}

button:hover {
  background-color: #3e9ee5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
  background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  background-clip: padding-box;
}

button:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 rgba(255,255,255, 0.1);
  text-shadow: 0 -1px 1px #2361a4;
  background-clip: padding-box;
}

button::-moz-focus-inner {border: 0; padding: 0}

button::before {margin-right: 5px} /* adds icon margin (if any) */

/* default input styles */
input[type="text"] {
  margin-top: 0;
  padding: 3px;
  height: 24px;
  border: 1px solid hsl(0, 0%, 87%);
  border-top: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 1px 0 hsl(0, 0%, 95%), inset 0 1px 1px hsl(0, 0%, 88%);
  background-color: #fff;
}

input[type="text"][disabled] {
  background-color: #F5F5F5;
  color: #999;
  cursor: not-allowed;
}

input[type="text"]:focus {
  border: 1px solid hsl(203, 83%, 64%);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, .05),0 0 3px hsla(206, 80%, 62%, .6);
}

label, legend {
  font-weight: 700;
  font-size: 12px;
}

/* modal */
#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 100 !important;
  background-color: #34313a;
}

#modal {
  width: 50%;
  max-width: 680px;
  padding: 15px;
  z-index: 101 !important;
  background-color: #fff;
  border: 1px solid #666;
  box-shadow: 0 0px 15px rgba(0,0,0,0.5);
  overflow-y: auto;
}

#modal h1 {
  float: left;
  padding-bottom: 15px;
  font-size: 26px;
  font-weight: 200;
  color: #458afb;
}

#modal .close {
  float: right;
  font-size: 170%;
}

#modal .close:hover {
  color: #52a8e8;
  cursor: pointer;
}

/* mess */
#edit input[type="text"] {
  margin-bottom: 2px;
  width: 100%;
}

#edit {position:relative}

#large-fields {
  margin-right: 110px;
  float: left;
}
#small-fields {
  width: 90px;
  float: right;
  right: 0;
  position: absolute;
}

#id3_bpm, #id3_year, #small-fields fieldset {text-align: center}

#id3_track, #id3_total_tracks, #id3_disc, #id3_total_discs {
  text-align: center;
  width: 34px !important;
}
#id3_track, #id3_disc {float: left}
#id3_total_tracks, #id3_total_discs {float: right}

#edit .save {
  float: right;
  font-size: 12px;
  margin-top: 50px;
}

/* multibox mess */
.table {display: table; width: 100%;}
.row {display: table-row}
.cell {display: table-cell}
.cell:last-child {width: 100px; padding-left: 10px; text-align: center;}
#edit input[type="checkbox"] {
  display: table-cell;
  margin:0;
  margin-right: -4px;
  position: relative;
  top: 24px;
}


/* audio player */
.mejs-timeseparator {margin: 0 3px}
.mejs-controls {background: none !important}

/****************************
    PAGES
****************************/

/* ---------> player page */
#contents.player {
  background-color: #000;
  color: #fff;
}

#contents.player #data {
  display: table;
  margin: 0 auto;
  text-align: right;
  height: 100%;
}

#contents.player h1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
#contents.player h2 {color: #999}
#contents.player span {color: #fff}

#contents.player #cover, #contents.player #info {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
#contents.player img {
  /*border-radius: 5px; ? yes/no? */
  max-width: 500px;
}

/* mimics the waveform */
#waveform {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px;
  position: relative;
  background-image: -webkit-linear-gradient(top, #444, #111);
  z-index: 1;
}
#wave-loaded, #wave-played, #wave-handle {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
#wave-loaded {background-color: #111;}
#wave-played {background-color: #458afb;}
#wave-handle {
  width: 1px;
  background-color: hsl(108, 87%, 59%);
}
#waveform img {width: 100%}

/* Mobile version */
@media only screen and (max-width: 860px) {
  #audio-container {
    float: none;
    clear: both;
    margin: 0 auto;
    z-index: 100;
    width: auto;
  }
  #header {height: auto;}
  #body {top: 33px;}
  #menu {float: none; width: 100%; height: auto;}
  #menu a li {float: left; padding: 15px 10px 10px; height: 77px; width: 85px;}
  #menu a li h1 {font-size: 11px;}
  #menu a li i {font-size: 26px}
  #menu ul li.selected:after {display: none;}
  #contents {
    margin-left: 0;
    position: absolute;
    top: 77px;
    bottom: 0px;
    width: 100%;
  }
  .edit-button, #search {display: none}
  #edit input[type="checkbox"] {
    margin-right: 0;
  }
  /* player page */
  #contents.player #data {
    margin-top: 20px;
  }
  #contents.player #data, #contents.player #cover, #contents.player #info {
    display: block;
  }
  #contents.player #info {
    padding-right: 20px;
  }
  #contents.player img {
    max-width: 100%;
  }
}
